@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */


@media only screen and (max-width : 1200px)
	#my-footer
		height: 13px
		font-weight: normal
		padding-top: 0.4vh
		padding-bottom: 2.9vh
		i
			font-size: 15px
		.fa-facebook-square
			font-size: 15px
			padding-left: 3.3vw
		
		span
			font-size: 14px
// 	.grid_item>p
// 		margin-top: 20vh
// 		margin-left: 7vw
// 		font-size: 4.6vw




/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	// .grid_row-md
	// 	flex-direction: column
	// #space
	// 	margin-top: 20vh
	#education
		margin-top: 60vh
	// .grid_item_bgc_1
	// 	background: url("../img/space1_plan.jpeg") no-repeat center center
	// 	background-size: 100% 150%
	// .grid_item_bgc_1_1
	// 	background: url("../img/space2_plan.jpeg") no-repeat center center
	// 	background-size: 100% 150%
	// .grid_item_bgc_3
	// 	background: url("../img/serv1_plan.jpeg") no-repeat center center
	// 	background-size: 100% 150%
	// .grid_item_bgc_3_1
	// 	background: url("../img/serv2_plan.jpeg") no-repeat center center
	// 	background-size: 100% 150%
	figure
		width: 170px
		height: 170px
		top: 50%
		left: 50%
		margin-top: -85px
		margin-left: -85px
	.face
		width: 100%
		height: 100%
		div
			border: 1px solid $backgrnd
			width: 44px
			height: 44px
	.front
		transform: translate3d(0, 0, 70px)
	.right
  		transform: rotateY(90deg) translate3d(0, 0, 80px)
	.left
		transform: rotateY(-90deg) translate3d(0, 0, 80px)
	.top
		transform: rotateX(90deg) translate3d(0, 0, 80px)
	.bottom
		transform: rotateX(-90deg) translate3d(0, 0, 80px)
	.back
		transform: rotateY(180deg) translate3d(0, 0, 80px)
	#my-footer
		height: 13px
		font-weight: normal
		padding-top: 0.4vh
		padding-bottom: 2.9vh
		i
			font-size: 15px
		.fa-facebook-square
			font-size: 15px
			padding-left: 3.3vw
		
		span
			font-size: 14px
	// .grid_item>p
	// 	margin-top: 20vh
	// 	margin-left: 7vw
	// 	font-size: 4.6vw




/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.grid_row-md
		flex-direction: column
	#space
		margin-top: 22vh
	#education
		margin-top: 15vh
	.grid_item_bgc_1
		background: url("../img/space1_plan.jpeg") no-repeat center center
		background-size: 100% 150%
	.grid_item_bgc_1_1
		background: url("../img/space2_plan.jpeg") no-repeat center center
		background-size: 100% 150%
	.grid_item_bgc_3
		background: url("../img/serv1_plan.jpeg") no-repeat center center
		background-size: 100% 145%
	.grid_item_bgc_3_1
		background: url("../img/serv2_plan.jpeg") no-repeat center center
		background-size: 100% 145%
	figure
		width: 170px
		height: 170px
		top: 50%
		left: 50%
		margin-top: -85px
		margin-left: -85px
	.face
		width: 100%
		height: 100%
		div
			border: 1px solid $backgrnd
			width: 44px
			height: 44px
	.front
		-webkit-transform: translate3d(0, 0, 70px)
		transform: translate3d(0, 0, 70px)
	.right
  		-webkit-transform: rotateY(90deg) translate3d(0, 0, 80px)
  		transform: rotateY(90deg) translate3d(0, 0, 80px)
	.left
		-webkit-transform: rotateY(-90deg) translate3d(0, 0, 80px)
		transform: rotateY(-90deg) translate3d(0, 0, 80px)
	.top
		-webkit-transform: rotateX(90deg) translate3d(0, 0, 80px)
		transform: rotateX(90deg) translate3d(0, 0, 80px)
	.bottom
		-webkit-transform: rotateX(-90deg) translate3d(0, 0, 80px)
		transform: rotateX(-90deg) translate3d(0, 0, 80px)
	.back
		-webkit-transform: rotateY(180deg) translate3d(0, 0, 80px)
		transform: rotateY(180deg) translate3d(0, 0, 80px)
	#my-footer
		height: 13px
		font-weight: normal
		padding-top: 0.4vh
		padding-bottom: 2.9vh
		i
			font-size: 15px
		.fa-facebook-square
			font-size: 15px
			padding-left: 3.3vw
		span
			font-size: 14px
	.grid_item>p
		margin-top: 20vh
		margin-left: 7vw
		font-size: 4.6vw

	


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	body
		overflow-x: auto

	.loader_inner
		background-image: url("../img/lazyload.gif")
		
	#space
		margin-top: 22vh
	#education
		margin-top: 15vh


	.grid_row-md
		flex-direction: column
	.grid_item_bgc_1
		background: url("../img/space1_plan.jpeg") no-repeat center center
		background-size: cover
	.grid_item_bgc_1_1
		background: url("../img/space2_plan.jpeg") no-repeat center center
		background-size: cover
	.grid_item_bgc_3
		background: url("../img/serv1_plan.jpeg") no-repeat center center
		background-size: cover
	.grid_item_bgc_3_1
		background: url("../img/serv2_plan.jpeg") no-repeat center center
		background-size: cover
	figure
		width: 100px
		height: 100px
		position: relative
		top: 85px
		left: 180px
		margin-top: -50px
		margin-left: -50px
	.face
		width: 100%
		height: 100%
		div
			border: 1px solid $backgrnd
			width: 26px
			height: 26px
	.front
		-webkit-transform: translate3d(0, 0, 47px)
		transform: translate3d(0, 0, 47px)
	.right
  		-webkit-transform: rotateY(90deg) translate3d(0, 0, 47px)
  		transform: rotateY(90deg) translate3d(0, 0, 47px)
	.left
		-webkit-transform: rotateY(-90deg) translate3d(0, 0, 47px)
		transform: rotateY(-90deg) translate3d(0, 0, 47px)
	.top
		-webkit-transform: rotateX(90deg) translate3d(0, 0, 47px)
		transform: rotateX(90deg) translate3d(0, 0, 47px)
	.bottom
		-webkit-transform: rotateX(-90deg) translate3d(0, 0, 47px)
		transform: rotateX(-90deg) translate3d(0, 0, 47px)
	.back
		-webkit-transform: rotateY(180deg) translate3d(0, 0, 47px)
		transform: rotateY(180deg) translate3d(0, 0, 47px)
	
	#my-footer
		height: 13px
		font-weight: normal
		padding-top: 0.4vh
		padding-bottom: 2.5vh
		i
			font-size: 10px
		.fa-facebook-square
			font-size: 10px
			padding-left: 3.3vw
		
		span
			font-size: 7px
	.grid_item>p
		margin-top: 20vh
		margin-left: 7vw
		font-size: 4.6vw

/* ----------- iPhone 6+ ---Nexus 6P-------- */
/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape)
	.grid_row-md
		flex-direction: row
	.grid_item>p
		margin-top: 70vh
		margin-left: 6vw
		font-size: 4.3vw
	#space
		margin-top: 70vh
	#education
		margin-top: 50vh
	.grid_item_bgc_1
		background: url("../img/space1.jpeg") no-repeat center center
		background-size: cover
	.grid_item_bgc_1_1
		background: url("../img/space2.jpeg") no-repeat center center
		background-size: cover
	.grid_item_bgc_3
		background: url("../img/serv1.jpeg") no-repeat center center
		background-size: cover
	.grid_item_bgc_3_1
		background: url("../img/serv2.jpeg") no-repeat center center
		background-size: cover
	figure
		position: relative
		top: 100px


/* ----------- iPhone 6 ----------- */
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape)
	.grid_row-md
		flex-direction: row
	.grid_item>p
		margin-top: 70vh
		margin-left: 6vw
		font-size: 4.3vw
	#space
		margin-top: 70vh
	#education
		margin-top: 55vh
	.grid_item_bgc_1
		background: url("../img/space1.jpeg") no-repeat center center
		background-size: cover
	.grid_item_bgc_1_1
		background: url("../img/space2.jpeg") no-repeat center center
		background-size: cover
	.grid_item_bgc_3
		background: url("../img/serv1.jpeg") no-repeat center center
		background-size: cover
	.grid_item_bgc_3_1
		background: url("../img/serv2.jpeg") no-repeat center center
		background-size: cover
	figure
		width: 105px
		height: 105px
		position: relative
		top: 90px
		left: 110px
		margin-top: -50px
		margin-left: -50px
	.face
		width: 100%
		height: 100%
		div
			border: 1px solid $backgrnd
			width: 26px
			height: 26px
	.front
		-webkit-transform: translate3d(0, 0, 47px)
		transform: translate3d(0, 0, 47px)
	.right
  		-webkit-transform: rotateY(90deg) translate3d(0, 0, 47px)
  		transform: rotateY(90deg) translate3d(0, 0, 47px)
	.left
		-webkit-transform: rotateY(-90deg) translate3d(0, 0, 47px)
		transform: rotateY(-90deg) translate3d(0, 0, 47px)
	.top
		-webkit-transform: rotateX(90deg) translate3d(0, 0, 47px)
		transform: rotateX(90deg) translate3d(0, 0, 47px)
	.bottom
		-webkit-transform: rotateX(-90deg) translate3d(0, 0, 47px)
		transform: rotateX(-90deg) translate3d(0, 0, 47px)
	.back
		-webkit-transform: rotateY(180deg) translate3d(0, 0, 47px)
		transform: rotateY(180deg) translate3d(0, 0, 47px)
	
	#my-footer
		height: 13px
		font-weight: normal
		padding-top: 0.4vh
		padding-bottom: 2.5vh
		i
			font-size: 10px
		.fa-facebook-square
			font-size: 10px
			padding-left: 3.3vw
		
		span
			font-size: 7px
	.grid_item>p
		margin-top: 70vh
		margin-left: 7vw
		font-size: 4.6vw



/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	body
		overflow-x: auto
	.loader_inner
		background-image: url("../img/lazyload.gif")
	.grid_row-md
		flex-direction: column
	#space
		margin-top: 24vh

	.grid_item_bgc_1
		background: url("../img/space1_plan.jpeg") no-repeat center center
		background-size: 100% 150%
	.grid_item_bgc_1_1
		background: url("../img/space2_plan.jpeg") no-repeat center center
		background-size: 100% 150%
	.grid_item_bgc_3
		background: url("../img/serv1_plan.jpeg") no-repeat center center
		background-size: 100% 100%
	.grid_item_bgc_3_1
		background: url("../img/serv2_plan.jpeg") no-repeat center center
		background-size: 100% 100%
	figure
		width: 100px
		height: 100px
		top: 85px
		left: 160px
		margin-top: -50px
		margin-left: -50px
	.face
		width: 100%
		height: 100%
		div
			border: 1px solid $backgrnd
			width: 26px
			height: 26px
	.front
		-webkit-transform: translate3d(0, 0, 47px)
		transform: translate3d(0, 0, 47px)
	.right
  		-webkit-transform: rotateY(90deg) translate3d(0, 0, 47px)
  		transform: rotateY(90deg) translate3d(0, 0, 47px)
	.left
		-webkit-transform: rotateY(-90deg) translate3d(0, 0, 47px)
		transform: rotateY(-90deg) translate3d(0, 0, 47px)
	.top
		-webkit-transform: rotateX(90deg) translate3d(0, 0, 47px)
		transform: rotateX(90deg) translate3d(0, 0, 47px)
	.bottom
		-webkit-transform: rotateX(-90deg) translate3d(0, 0, 47px)
		transform: rotateX(-90deg) translate3d(0, 0, 47px)
	.back
		-webkit-transform: rotateY(180deg) translate3d(0, 0, 47px)
		transform: rotateY(180deg) translate3d(0, 0, 47px)
	#my-footer
		height: 13px
		font-weight: normal
		padding-top: 0.4vh
		padding-bottom: 2.5vh
		i
			font-size: 9px
		.fa-facebook-square
			font-size: 9px
			padding-left: 3.3vw
		
		span
			font-size: 6px
			padding-left: 0.2vw
	.grid_item>p
		margin-top: 22vh
		font-size: 4.6vw

/* ----------- iPhone 5 and 5S ----------- */
/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape)
	.grid_row-md
		flex-direction: row
	.grid_item>p
		margin-top: 70vh
		margin-left: 6vw
		font-size: 4.3vw
	#space
		margin-top: 70vh
	#education
		margin-top: 51vh
	.grid_item_bgc_1
		background: url("../img/space1.jpeg") no-repeat center center
		background-size: cover
	.grid_item_bgc_1_1
		background: url("../img/space2.jpeg") no-repeat center center
		background-size: cover
	.grid_item_bgc_3
		background: url("../img/serv1.jpeg") no-repeat center center
		background-size: cover
	.grid_item_bgc_3_1
		background: url("../img/serv2.jpeg") no-repeat center center
		background-size: cover
	figure
		width: 110px
		height: 110px
		top: 100px
		left: 100px
		margin-top: -50px
		margin-left: -50px
	.face
		width: 100%
		height: 100%
		div
			border: 1px solid $backgrnd
			width: 26px
			height: 26px
	.front
		-webkit-transform: translate3d(0, 0, 50px)
		transform: translate3d(0, 0, 50px)
	.right
  		-webkit-transform: rotateY(90deg) translate3d(0, 0, 50px)
  		transform: rotateY(90deg) translate3d(0, 0, 50px)
	.left
		-webkit-transform: rotateY(-90deg) translate3d(0, 0, 50px)
		transform: rotateY(-90deg) translate3d(0, 0, 50px)
	.top
		-webkit-transform: rotateX(90deg) translate3d(0, 0, 50px)
		transform: rotateX(90deg) translate3d(0, 0, 50px)
	.bottom
		-webkit-transform: rotateX(-90deg) translate3d(0, 0, 50px)
		transform: rotateX(-90deg) translate3d(0, 0, 50px)
	.back
		-webkit-transform: rotateY(180deg) translate3d(0, 0, 50px)
		transform: rotateY(180deg) translate3d(0, 0, 50px)
	#my-footer
		height: 13px
		font-weight: normal
		padding-top: 0.6vh
		padding-bottom: 5vh
		i
			font-size: 12px
		.fa-facebook-square
			font-size: 12px
			padding-left: 3.1vw
		span
			font-size: 12px
	


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

