$default-font: "GothamPro", sans-serif
$accent: #BC3650
$backgrnd: #FFFFFB
$accent-load: #171719
$rubic-bgc: #1D1D1D
$front: #5161AB
$right: #BC3650
$left: #FFFC33
$top: #BC3650
$bottom: #FFFC33
$back: #5161AB